/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar-header {
    font-size: 2.0em;
    color: #fff;
}

.navbar-header a:visited{
    color: #fff;
}

.navbar {
    background-color:#008cba;

}

.navbar ul li a{
    font-size: 1.5em;
    color: #fff;
}

.navbar ul li a:visited{
    color: #fff;
}


h1 {
    font-weight: bold;
    color:#008cba;
}

th {
    font-size: 2.5em;
    color:#222;
}

td {
    font-size: 2.0em;
    color: #555;
}

.checked_in {
    background-color:#008cba;
    color: #fff;
}

